/* cards */
.pricingTable{
    color: #fff;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 0 25px 30px;
    margin: 0 10px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    height: 100%;
}
div.row{
    height: 100%;
}
.pricingTable:before{
    content: "";
    background: #ff5b5a;
    width: 93%;
    height: 220px;
    border-radius: 20px 0 100% 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.pricingTable .pricingTable-header{
    padding: 45px 10px 25px;
    margin: 0 0 15px;
}
.pricingTable .title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}
.pricingTable .pricing-icon{
    color: #ff5b5a;
    background: #fff;
    font-size: 45px;
    line-height: 110px;
    width: 110px;
    height: 110px;
    margin: 0 auto 20px;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3);
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}
.pricingTable .pricing-content li{
    color: #999;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.pricingTable .price-value{
    color: #ff3838;
    font-weight: 600;
    margin: 0 0 20px;
}
.pricingTable .price-value .amount{
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
}
.pricingTable .price-value .duration{
    font-size: 35px;
    line-height: 35px;
    opacity: 0.7;
}


/* boton subscribirse */
.pricingTable .pricingTable-signup a{
    color: #fff;
    background: #ff5b5a;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 0;
    margin: 0 auto;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    letter-spacing: 3px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3) inset;
}

/* colores cards */
.pricingTable.green:before,
.pricingTable.green .pricingTable-signup a{
    background: #77b852;
}
.pricingTable.green .pricing-icon,
.pricingTable.green .price-value{
    color: #77b852;
}
.pricingTable.blue:before,
.pricingTable.blue .pricingTable-signup a{
    background: #671eee;
}
.pricingTable.blue .pricing-icon,
.pricingTable.blue .price-value{
    color: #671eee;
}
.pricingTable.deluxe .pricing-icon,
.pricingTable.deluxe .price-value{
    color: #dfad08;
}
.pricingTable.deluxe:before,
.pricingTable.deluxe .pricingTable-signup a{
    background: #dfad08;
}

.pricingTable.premium .pricing-icon,
.pricingTable.premium .price-value{
    color: #e22323;
}
.pricingTable.premium:before,
.pricingTable.premium .pricingTable-signup a{
    background: #e22323;
}

.pricingTable.basico .pricing-icon,
.pricingTable.basico .price-value{
    color: #16a5d1;
}
.pricingTable.basico:before,
.pricingTable.basico .pricingTable-signup a{
    background: #16a5d1;
}
/* aumento logo */
.logorm:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 40px; }
}