/* imagenes */
.img-fluid{
    width: 400px;
    height: 220px;
}
.img-fluid:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 1s;
}

a[class="d-block h-100"]{
    width: 90%;
    margin: 1rem auto;
}

